<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Accelsiors Test Example</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="http://www.accelsiors.com">Accelsiors</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">

        <h1>Task editor</h1>
        <div class="row col-md-7 table-responsive">
            <form action="#" th:action="@{/browse/edit/__${task.id}__}" th:object="${task}" method="put">
                <label for="date">Date:</label>
                <input type="text" th:field="*{date}" id="date" placeholder="Enter date">
                <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>

                <label for="activity">Task:</label>
                <input type="text" th:field="*{activity}" id="activity" placeholder="Select your task">
                <span th:if="${#fields.hasErrors('activity')}" th:errors="*{activity}"></span>

                <label for="duration">Duration (between 0.5 and 12):</label>
                <input type="number" th:field="*{duration}" id="duration" placeholder="Enter number">
                <span th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></span>

                <label for="comment">Duration (between 0.5 and 12):</label>
                <textarea th:field="*{comment}" id="comment"></textarea>
                <span th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></span>


                <input type="submit" value="Save">
            </form>
        </div>
    </div>


</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>
